body{
background-color: rgb(63, 210, 30);
background-image:url("minecraftt.webp");
background-size: 100%;
background-repeat: no-repeat;
}
.texto-centrado{
    text-align: center;
    background-color: rgb(63, 210, 30);
    width:  30%;
    margin-right:35%;
    margin-left: 35%;
}
.texto-color{
    background-color: rgb(63, 210, 30);
    width: 20%;
}
.texto-centrado2{
    background-color: rgb(63, 210, 30);
    width: 10%;
    border-radius: 100px;
}
.texto-subrayado{
    background-color: white;
}
@media only screen and (max-width: 760px){
    .texto-centrado{
        width: 80%;
        margin: 10%;
        font-size: 0.75em;
    }
    #imagen-boton{
        margin: 10% 20% 10% 20%;
        display: block;
    }
}
@media only screen and (max-width: 760px){
    .texto-subrayado{
        
    }
}
@media only screen and (max-width: 480px){
    #imagen-boton{
        width: 100%;
        margin: 0%;
        font-size: 0.50em;

    }
}

 